@model Task_Manager.Models.Task

@{
    ViewBag.Title = "Delete Task";
}

<h2 >Delete Task</h2>

<h3>Are you sure you want to delete this task?</h3>

<div>
    <h4>@Model.Name</h4>
    <dl class="dl-horizontal">
        <dt>Description</dt>
        <dd>@Model.Description</dd>
        <dt>Due Date</dt>
        <dd>@Model.DueDate.ToShortDateString()</dd>
        <dt>Status</dt>
        <dd>@Model.Status</dd>
        <dt>Priority</dt>
        <dd>@Model.Priority</dd>
        <dt>Employee ID</dt>
        <dd>@Model.EmployeeId</dd>
    </dl>
</div>


@using (Html.BeginForm("Delete", "Tasks", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="taskID" value="@Model.Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a href="@Url.Action("Index", "Tasks")" class="btn btn-default">Cancel</a>
}

